<footer id="footer-copyright">
  <div class="container">
    <div class="footer-copyright"> © 2017, Хорьков Александр, учебный проект в онлайн-школе <%= link_to "Thinknetica", 'http://thinknetica.com/' %> </div>
  </div>
</footer>
